ActionBar {
/*    background-color:  #3C5AFD;*/
    background-color: #393939;
    color: white;
}
.page {
    padding: 0px;
    margin: 0px;
    background-image: url("~/images/fond.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.align-right {
    text-align: right;
}

Button, TextField, label, Switch {
    font-size: 14pt;
  }
  .submit-button {
    background-color: #393939;
    color: white;
    margin-top: 20;
  }

  .firstParagraphe {
    margin-top: 30px;
    padding-top: 30px;
    font-size: 16pt;
  }
.list-actions {
    margin: 0;
    color: white;
    background-color: black;
    text-align: right;

}

.list-actions-item {
    color: white;
    /* height: 30px; */
    background-color: black;
    text-align: right;
    padding-right: 60px;
}
.font-awesome {
    font-family: "FontAwesome";
}
.item-synchro-left {
    padding-top: 5px;
    vertical-align: middle;
    font-size: 11px;
    text-align: left
}

.item-synchro-right {
    padding-top: 5px;
    font-size: 16px;
    vertical-align: middle;
    text-align: right
}

.SwitchChecked {
    background-color: yellowgreen;
}