<ActionBar title="Archives Offline - parameters" class="action-bar">
        <NavigationButton android.systemIcon="ic_menu_back" text="Back to ActionBar" (tap)="goToMain()"></NavigationButton>
</ActionBar>
    
<StackLayout class="page">
    <GridLayout rows ="*,*,2*" columns="*">
        <GridLayout row="1"                rows ="*,*" columns="40%*">

            <Label                     text="Use Sound"></Label>
            <Switch           col="1"  class="m-15" [checked]="useSound" (checkedChange)="onUSChecked($event)" [ngClass]="getUSClass()"></Switch>
            <Label   row="1"           text="OnlineMode"></Label>
            <Switch  row="1"  col="1"  class="m-15" [checked]="onlineMode" (checkedChange)="onOMChecked($event)" [ngClass]="getOMClass()"></Switch>
        </GridLayout>
    </GridLayout>
</StackLayout>